!!! 5
%html
  %head
    %title Testific.at - A/B testing for cats
    %link{rel: 'stylesheet', href: '/resource/style.css'}
  %body
    = yield
    %script{src: '/resource/jquery.min.js'}
    %script{src: '/resource/script.js'}
